<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.TemplateEngine.Abstractions" version="1.0.0-beta2-20171009-310" targetFramework="net461" />
  <package id="Microsoft.TemplateEngine.Core" version="1.0.0-beta2-20171009-310" targetFramework="net461" />
  <package id="Microsoft.TemplateEngine.Core.Contracts" version="1.0.0-beta2-20171009-310" targetFramework="net461" />
  <package id="Microsoft.TemplateEngine.Edge" version="1.0.0-beta2-20171009-310" targetFramework="net461" />
  <package id="Microsoft.TemplateEngine.IDE" version="1.0.0-beta2-20171009-310" targetFramework="net461" />
  <package id="Microsoft.TemplateEngine.Orchestrator.RunnableProjects" version="1.0.0-beta2-20171009-310" targetFramework="net461" />
  <package id="Microsoft.TemplateEngine.Utils" version="1.0.0-beta2-20171009-310" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net461" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net461" />
</packages>